*{
padding:0;
margin:0;
box-sizing:border-box;
font-family:sans-serif;
}
.container{
height:100vh;
width:100%;
position:relative;
background:url(bg.jfif);
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
}
.container .box{
height:86vh;
width:77%;
padding:0 20px;
background-color: rgba(255, 255, 255, 0.1);
z-index:10;
border:2px solid rgba(255, 255, 255, 0.7);
border-radius:20px;
display:flex;
backdrop-filter:blur(25px);
box-shadow:-15px 17px 17px rgba(10,10,10,0.15);
}
.container nav{
height:7%;
width:90%;
position:absolute;
display:flex;
align-items:center;
justify-content:space-between;
margin: 15px auto;
padding: 20px;
}
.container .logo{
font-size: 32px;
font-weigth: 700;
text-decoration: none;
color:#000;
margin-left:30px;
}
.container .logo::first-letter{
color:#6f34fe;
font-size;
}
.container nav ul li{
display:inline-block;
padding: 0 20px;
}
.container nav ul li a{
text-decoration: none;
font-size: 18px;
color:#000;
transition:0.3s;
}
.container nav ul li a:hover{
color:#6f34fe;
}
.content{
position:relative;
display flex;
justify-content:space-between;
align-items:center;
width:100%;
margin-top: 10%;
padding-left: 80px;
}
.content .sec1{
position: relative;
width: 40%;
}
.content .sec1 h1{
margin-bottom:20px;
font-size:50px;
font-weight: 700;
color: #000;
}
.content .sec1 h2{
font-size: 30px;
color: #6f34fe;
margin-bottom:10px;
}
.content .sec1 span{
    color: #000;
}
.content .sec1 p{
font-size: 20px;
color: #505052;
margin-bottom:50px;
}
.content .button{
padding: 15px 20px;
border-radius:5px;
background-color:#6f34fe;
border: 3px solid #6f34fe;
font-size: 20px;
font-weight: 500;
text decoration: none;
transition: 0.3s;
color:#fff;
}
.content .button:hover{
background-color:#fff;
color:#6f34fe;
}
.content .sec2{
width: 30%;
height: 60%;
position: absolute;
right: 100px;
bottom: 0;
}
.content .sec2 img{
position: absolute;
height: 140%;
left: 40%;
transform: translate(-55%);
bottom: 0;
transition: left 2s ease;
}

.content .sec2 img:hover{
    left: 55%;
}
